body {
	background-color: #71679a;
	overflow: hidden;
}

img {
	border-radius: 50px;
	filter: blur(10px);
}

#imageDiv {
	position:relative;
	right:0.15%;
	
	width:1890px; 
	height:900px;
	background-color: #ff4655;
	border: 10px solid black;
	border-radius: 50px;
	transition: 0.3s;
}
#imageDiv:hover {
	position:relative;
	right:0.15%;
	
	width:1890px; 
	height:900px;
	background-color: #2b2b65;
	border: 10px solid #2b2b65;
	border-radius: 50px;
}


h1 {
	text-align: center;
	margin-bottom: 0.5%;
}